---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query IssueTitle($name:String!$number:Int!$owner:String!){repository(owner: $owner, name: $name){issueOrPullRequest(number: $number){... on Issue{title},... on PullRequest{title}},discussion(number: $number){title}}}","variables":{"name":"scientist","number":174,"owner":"github"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            Time-Zone:
                - America/Denver
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"issueOrPullRequest":{"title":"Allow setting raise_on_mismatches to base class level for tests"},"discussion":null}},"errors":[{"type":"NOT_FOUND","path":["repository","discussion"],"locations":[{"line":1,"column":181}],"message":"Could not resolve to a Discussion with the number of 174."}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 340.074375ms
