---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query IssueTitle($name:String!$number:Int!$owner:String!){repository(owner: $owner, name: $name){issueOrPullRequest(number: $number){... on Issue{title},... on PullRequest{title}}}}","variables":{"name":"scientist","number":175,"owner":"github"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            Time-Zone:
                - America/Denver
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"issueOrPullRequest":{"title":"Add Ruby 3.1 to CI"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 186.721417ms
